doctype 5
html
   head
      title Fannect Greek Battle
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
      
      != css("main")

      script(type="text/javascript")
         if (!window.fannect) window.fannect = {}
         window.fannect.groups = !{JSON.stringify(groups)}
         window.fannect.config = !{JSON.stringify(config)}
   
      != js("lib/d3.v3.js")
      != js("site")

   - var viewDir = locals.settings.views;
   - var view = locals.filename.replace(viewDir, "").replace(".jade", "").replace(/^[\\\/]/g, "");
   - var pageClass = view.replace(/[\\\/]/g, "-") + "-page";
   
   body

      .title= config.title

      .top-controls
         .slider(data-bind="slider: group_slider_index, count: 3")
            .slider-left-button
            .slider-space()
               a.slider-item Fraternity
               a.slider-item All Greek
               a.slider-item Sorority
               .slider-cover
            .slider-right-button

      .chart-wrap

      .bottom-controls
         .slider
            .slider-space(data-bind="slider: points_slider_index, count: 4")
               a.slider-item Overall
               a.slider-item Passion
               a.slider-item Dedication
               a.slider-item Knowledge
               .slider-cover

      .red-separator
      .bottom-section

         .sign-up
            .logo
            input(type="email", pattern="[^ @]*@[^ @]*", class="email", data-bind="value: email", placeholder="fannect user email")
            .selector
               .selected(data-bind="click: toggleSelector, clickOff: show_selector")
                  .group-name(data-bind="text: selected_group().name, css: {'active': show_selector}")
                  .drop-button(data-bind="css: {'active': show_selector}")
               .list-wrap(data-bind="slideUpDown: show_selector")
                  .group-list(data-bind="foreach: groups")
                     .group-item(data-bind="text: name, click: $parent.selectGroup, css: { 'selected': selected }")
            a.submit-button(data-bind="click: submit") Submit

      .footer