doctype 5
html
   head
      title Fannect Greek Battle
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
      
      != css("main")

      script(type="text/javascript")
         if (!window.fannect) window.fannect = {}
         window.fannect.groups = !{JSON.stringify(groups)}
         window.fannect.config = !{JSON.stringify(config)}
   
      != js("lib/d3.v3.js")
      != js("site")

   - var viewDir = locals.settings.views;
   - var view = locals.filename.replace(viewDir, "").replace(".jade", "").replace(/^[\\\/]/g, "");
   - var pageClass = view.replace(/[\\\/]/g, "-") + "-page";
   
   body
      .top-section
         .top-wrap
            .title= config.title
            .top-controls
               .slider(data-bind="slider: group_slider_index, count: 3")
                  .slider-left-button
                  .slider-space()
                     a.slider-item Fraternity
                     a.slider-item All Greek
                     a.slider-item Sorority
                     .slider-cover
                        .slider-cover-arrow
                  .slider-right-button

            .chart-wrap

            .bottom-controls(data-bind="menu: points_menu_index")
               a.overall.active Overall
               a.passion Passion
               a.dedication Dedication
               a.knowledge Knowledge
               
      .red-separator
      .bottom-section
         .bottom-wrap
            .sign-up
               .logo
               input(type="email", pattern="[^ @]*@[^ @]*", class="email", data-bind="value: email", placeholder="Fannect User Email")
               .selector
                  .selected(data-bind="click: toggleSelector, clickOff: show_selector")
                     .group-name(data-bind="html: selected_group().name, css: {'active': show_selector}")
                     .drop-button(data-bind="css: {'active': show_selector}")
                        .down-arrow
                  .list-wrap(data-bind="slideUpDown: show_selector, stopPrevious: true", style="display:none;")
                     .group-list(data-bind="foreach: groups")
                        .group-item(data-bind="text: name, click: $parent.selectGroup, css: { 'selected': selected }")
               a.submit-button(data-bind="click: submit, css: {'submitting': is_submitting}") Submit

               .validator(data-bind="slideUpDown: show_validator, text: validator_text", style="display:none;")
               .success(data-bind="slideUpDown: show_success", style="display:none;") You are now part of this house! Score points to help your house reach the top!

      .footer