extends layout

block content

   script(type="text/javascript")
      if (!window.fannect) window.fannect = {}
      window.fannect.groups = !{JSON.stringify(groups)}

   a#frat(href="#", onclick="return false;") Frat
   a#sorority(href="#", onclick="return false;") Sorority
   a#both(href="#", onclick="return false;") Both
   br
   a#value1(href="#", onclick="return false;") Value 1
   a#value2(href="#", onclick="return false;") Value 2

   .chart-wrap
