extends layout

block content

   #sign-up
      form
         select
            option house one
            option house two
            option house three

         input(type="text", name="email", placeholder="Email")
         button(type="submit") Submit

   #left-leaderboard
      ul.leaderboard

   #right-leaderboard
      ul.leaderboard
