@import "lib/normalize.css"
@import "lib/variables"
@import "lib/mixins"


.one-half
   float: left
   width: 50%

.chart-wrap 
   width: 800px
   height: 600px
   margin: 0 auto


@import "pages/leaderboard"