@import "lib/normalize.css"
@import "lib/variables"
@import "lib/mixins"

@import "../lib/mixins"
@import "../lib/variables"

@font-face
   font-family: JerseyM54
   src: url(../fonts/JerseyM54.ttf)

body
   color: #000

.slider
   position: relative
   font-family: JerseyM54
   .slider-left-button
   .slider-right-button
      position: absolute
      cursor:pointer
      height: 100%
      width: 40px
      top:0
   .slider-left-button
      left: -40px
   .slider-right-button
      right: -40px
   
   .slider-space
      position: relative
      .slider-item
         position:relative;
         z-index: 5
      .slider-cover
      .slider-item
         cursor:pointer
         display: block
         height: 100%
         float: left
      .slider-cover
         position: absolute

.top-section
   background: #000 url(/images/DotBackground.png) 50% 0 no-repeat
   background-size: 1421px 673px
   min-width: 1177px

   .top-wrap
      width: 1177px
      margin: 0 auto
      padding-bottom: 10px

   .title
      font-size: 2.4em
      text-align: center
      color: #ccc
      padding: 15px 0 0
      font-family: JerseyM54

   .top-controls
      text-align: center
      height: 70px
      border: 1px
      margin: 0 auto
      padding: 22px 0 7px
      color: #eee
      background: url(/images/TopSlider.png) 50% 50% no-repeat
      background-size: 1419px 80px 
      .slider
         width: 575px
         margin: 0 auto
         font-size: 1.4em
      .slider-space
         height: 56px
         line-height: 60px
         .slider-cover
         .slider-item
            width: 33.3333333%
         .slider-cover
            background: url(/images/TopSliderCover.png) 50% 50% no-repeat
            background-size: 192px 56px
            .slider-cover-arrow
               position: absolute
               background: url(/images/SliderTriangle.png) 50% 0 no-repeat
               background-size: 14px 7px
               width: 100%
               height: 7px
               bottom: -1px
            
   .chart-wrap 
      margin: 10px 0 0
      height: 377px
      text-align: center
      background: url(/images/GraphBox.png) 50% no-repeat
      background-size: 1177px 377px
   .chart
      margin-top: 12px
      .fraternity
         fill: url(#fraternity-gradient)
      .sorority
         fill: url(#sorority-gradient)
      text
         fill: #fff
         font-size: .8em

   .bottom-controls
      text-align: center
      height: 25px
      width: 300px
      border: 1px
      margin: 0 auto
      padding: 5px 45px
      font-size: .8em
      .slider-space
         height: 25px
         line-height: 25px
         .slider-cover
         .slider-item
            width: 25%

.red-separator
   height: 14px
   background: url(/images/RedBand.png) 50% 50% 
   background-size: 1509px 14px
   box-shadow: 0 -2px 4px rgba(0,0,0,.7)
   min-width: 1177px

.bottom-section
   background: url(/images/Pattern_FabricKnit.png)
   background-size: 4px 4px 
   padding: 25px 0 
   box-shadow: 0 3px 10px rgba(0,0,0,.7)
   min-width: 1177px

   .bottom-wrap
      width: 1177px
      margin: 0 auto
.sign-up
   margin: 0 auto
   width: 320px
   box-shadow: 0 2px 8px #000
   border-radius: 8px
   padding: thick-padding (normal-padding * 2)
   background: rgba(0,0,0,.15)
   
   .logo
      background: url(/images/logo.png) 50% no-repeat
      background-size: 200px 34px
      height: 51px
      margin-bottom: 4px
    
   .email
      padding: thin-padding 60px thin-padding thin-padding
      box-shadow: inset 0 1px 4px #333, 0 2px 3px rgba(255,255,255,0.55)
      border-radius: 8px
      border: none
      -webkit-appearance: none
      width: 252px
      &:focus
         outline: none

   .selector
      margin: normal-padding 0
      position: relative
      .none-selected
         color: #aaa
      .selected
         position: relative
         .group-name
            background-color: #fff
            padding: thin-padding 60px thin-padding thin-padding
            box-shadow: inset 0 1px 4px #333, 0 2px 3px rgba(255,255,255,0.55)
            border-radius: 8px
            &.active
               border-radius: 8px 8px 0px 0px
         .drop-button
            width: 40px
            position: absolute
            right: 0
            top: 0
            bottom: 1px
            border-radius: 0px 8px 8px 0px
            box-shadow: -1px 0 2px #333, 0 1px 2px #333, inset 0 1px 2px #fff
            background-gradient: #eee #999
            &.active
               border-radius: 0px 8px 0px 0px
               box-shadow: inset 0 1px 4px #333
               background-gradient: #999 #eee
               bottom: 0
            .down-arrow
               position: absolute
               background: url(/images/DownArrow.png) no-repeat
               background-size: 31px 21px
               top: 50%
               left: 50%
               width: 31px
               height: 21px
               margin: -10px 0 0 -15px
      .list-wrap
         position: absolute
         width: 100%
         border-radius: 0px 0px 8px 8px
         box-shadow: inset 0 0px 4px #333
         max-height: 300px
         background: #fff
         z-index: 1000
      .group-list
         .group-item
            padding: (thin-padding / 2) thin-padding
            margin: 0 2px
            &.selected
               background: #bbb
            &:last-child
               border-radius: 0px 0px 8px 8px
            &:hover
               background: #ddd

   .submit-button
      display: block
      padding: normal-padding
      box-shadow: 0 1px 4px #333, inset 0 1px 2px #fff
      border-radius: 8px
      text-align: center
      background-gradient: #eee #999
      &:active
      &.submitting
         background-gradient: #999 #eee
         box-shadow: inset 0 1px 4px rgba(0,0,0,.6), inset 0 -1px 2px rgba(0,0,0,.3)

.success
.validator
   position:relative
   margin: 0 auto
   box-shadow: 0 2px 8px #000
   border-radius: 8px
   padding: normal-padding
   margin-top: 12px
   background: rgba(0,0,0,.15)
   text-align: center
   color: #840808
   text-shadow: 0 2px 2px rgba(255,255,255,0.35)

.success
   color: #088411
   
.footer
   height: 60px
   background: #000 url(/images/DotBackground.png) 50% 0 no-repeat
   background-size: 1428px 673px
   min-width: 1177px

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   .top-controls
      background-image: url(/images/TopSlider@2x.png) !important
   .slider-cover-arrow
      background-image: url(/images/SliderTriangle@2x.png) !important
   .chart-wrap
      background-image: url(/images/GraphBox@2x.png) !important
   .bottom-section
      background-image: url(/images/Pattern_FabricKnit@2x.png) !important
   .logo
      background-image: url(/images/logo@2x.png) !important
   .down-arrow
      background-image: url(/images/DownArrow@2x.png) !important
   .top-section
   .footer
      background-image: url(/images/DotBackground@2x.png) !important